config = {
    gap_x = 718,
    gap_y = 870,
    minimum_height = 5,
    minimum_width = 470,
    maximum_width = 470
}

conky.text = [[
${color #16979c}\
${font Mono:size=12:bold}Disc${font Mono:size=6:bold}
/dev/nvme0n1: ${goto 354}IO${diskiograph 16,90 /dev/nvme0n1 4f4f4f 16979c}
${font Mono:size=5}\
    / ${goto 116}${fs_bar 6,100 /} ${fs_used /}/${fs_size /} 
    /home ${goto 116}${fs_bar 6,100 /home} ${fs_used /home}/${fs_size /home}
${color #4f4f4f}\
${font Mono:size=6:bold}\
/dev/sda: \
${font Mono:size=5}\
${execi 30 hddtemp /dev/sda | awk -F ": " '{printf "%s (%s)", $2, $3}'} \
${font Mono:size=6:bold}\
${goto 354}IO${diskiograph 16,90 /dev/sda 4f4f4f 16979c}
${font Mono:size=5}\
    /mnt/D ${goto 116}${fs_bar 6,100 /mnt/D} ${fs_used /mnt/D}/${fs_size /mnt/D} 
${color #9f9f9f}\
${font Mono:size=6:bold}\
/dev/sdb: \
${font Mono:size=5}\
${execi 30 hddtemp /dev/sdb | awk -F ": " '{printf "%s (%s)", $2, $3}'} \
${font Mono:size=6:bold}\
${goto 354}IO${diskiograph 16,90 /dev/sdb 4f4f4f 16979c}
${font Mono:size=5}\
    /mnt/S ${goto 116}${fs_bar 6,100 /mnt/S} ${fs_used /mnt/S}/${fs_size /mnt/S} 
${color #9775bf}\
${font Mono:size=6:bold}\
/media/NAS ${font Mono:size=5} ${goto 116}${fs_bar 6,100 /media/NAS} ${fs_used /media/NAS}/${fs_size /media/NAS} 
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/<USER>/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
