config = {
    gap_x = 20,
    gap_y = 892,
    minimum_height = 5,
    minimum_width = 470,
    maximum_width = 470
}

conky.text = [[
${color #16979c}\
${font Mono:size=24:bold}Disc ${font Mono:size=12}
/dev/sda:${goto 126}${execi 3600 hddtemp /dev/sda | awk -F ": " '{print $2}'}${alignr}${execi 30 hddtemp /dev/sda | awk -F ": " '{print $3}'}
Usage:${goto 66}${fs_bar 6,100 /} ${fs_used /}/${fs_size /} \
${goto 336}IO: ${diskiograph 30,90 /dev/sda 4f4f4f 16979c} 
${color #4f4f4f}\
/dev/sdb:${goto 126}${execi 3600 hddtemp /dev/sdb | awk -F ": " '{print $2}'}${alignr}${execi 30 hddtemp /dev/sdb | awk -F ": " '{print $3}'}
Usage:${goto 66}${fs_bar 6,100 /mnt/D} ${fs_used /mnt/D}/${fs_size /mnt/D} \
${goto 336}IO: ${diskiograph 30,90 /dev/sdb 4f4f4f 16979c}
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/<USER>/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
