config = {
    gap_x = 1450,
    gap_y = 40,
    minimum_height = 5,
    minimum_width = 450,
    maximum_width = 450
}

conky.text = [[
${font Mono:size=12:bold}System ${font Mono:size=6} ${alignr} $nodename 
OS: $sysname (${execi 10000 lsb_release -a 2>/dev/null | grep Description | awk '{$1=""; print $0}' | xargs})
Kernel: $kernel
Architecture: $machine  ${alignr} Uptime: $uptime 
${font Mono:size=8:bold}Devices ${font Mono:size=6:bold}
USB
${font Mono:size=5:bold}\
 Bus Device
${font Mono:size=5}\
${execi 5 lsusb | awk '{$1=$3=$5=$6=""; print $0}'}
${font Mono:size=6:bold}\
${execi 3600 xrandr --listmonitors | head -1}
${font Mono:size=5}\
${execi 3600 xrandr --listmonitors | tail -n +2}
]]

conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/<USER>/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
