version: "3"
services:
  pushgateway:
    image: prom/pushgateway:v1.0.1
    restart: always
    command:
      - --persistence.file=/data/pushgateway.data
      - --persistence.interval=1h
    expose:
      - 9091
    ports:
      - 9091:9091
    volumes: 
      - /home/<USER>/Drive/D/Volumes/Docker/pushgateway:/data
  promtail:
    image: grafana/promtail:2.9.2
    restart: always
    volumes:
      - /var/log:/var/log:ro
      - /home/sthinds/.config/promtail/promtail-config.yaml:/etc/promtail/config.yml
      - /home/sthinds/.cache:/home/sthinds/.cache
    command: -config.file=/etc/promtail/config.yml
  dcgm-exporter:
    image: nvidia/dcgm-exporter:latest
    container_name: dcgm-exporter
    restart: unless-stopped
    ports:
      - "9400:9400"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    runtime: nvidia
