config = {
    gap_x = 20,
    gap_y = 294,
    minimum_height = 5,
}

conky.text = [[
Established Connections
${offset 10}Inbound: ${tcp_portmon 1 32767 count}   \
Outbound: ${tcp_portmon 32768 61000 count}  Total: ${tcp_portmon 1 65535 count}
${offset 10}Process             Protocol  Port  Remote IP         Remote Port
${texeci 30 netstat -ntp | head 30}
]]

conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/sthinds/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
 
