config = {
    gap_x = 1136,
    gap_y = 140,
    minimum_height = 5,
}

conky.text = [[
${color #F2F290}\
${goto 260}CPU           
Frequency:${freq_g}GHz${alignr}Temperature: ${acpitemp}°C
Usage: $cpu% ${cpubar 4,410} 
1 ${goto 30}${cpugraph cpu0 25,480}  
2 ${goto 30}${cpugraph cpu1 25,480}  
3 ${goto 30}${cpugraph cpu2 25,480}  
4 ${goto 30}${cpugraph cpu3 25,480}   
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/sthinds/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
