config = {
    gap_x = 1136,
    gap_y = 560,
    minimum_height = 5,
}

conky.text = [[
${color #FCA8FF}\
${goto 300}MEMORY
RAM Usage:${goto 130} $mem/$memmax - $memperc%${goto 340} ${membar 4,168}
Swap Usage:${goto 130} $swap/$swapmax - $swapperc%${goto 340} ${swapbar 4,168}	
${memgraph}
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/sthinds/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
