config = {
    gap_x = 1136,
    gap_y = 880,
    minimum_height = 5,
}

conky.text = [[
${color #A4A4E4}\
${goto 300}NET 
${addrs enp2s0} 
${tcp_portmon 1 80 count}
Down:${downspeed enp2s0}                    Up:${upspeed enp2s0}
${downspeedgraph enp2s0 60,252}  ${upspeedgraph enp2s0 60,252 -l}
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/sthinds/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
