config = {
    gap_x = 20,
    gap_y = 40,
    minimum_height = 5,
}

conky.text = [[
Processes: $processes ($running_processes active)   Threads: ${threads} (${running_threads} active)
Name ${goto 140} PID ${goto 220}CPU% ${goto 290}MEM% ${goto 360} TIME${goto 470}USER                                     
${top name 1} ${goto 140}${top pid 1} ${goto 220}${top cpu 1} \
    ${goto 290}${top mem 1} ${goto 360}${top time 1} ${goto 470}${top user 1}                           
${top name 2} ${goto 140}${top pid 2} ${goto 220}${top cpu 2} \
    ${goto 290}${top mem 2} ${goto 360}${top time 2} ${goto 470}${top user 2}
${top name 3} ${goto 140}${top pid 3} ${goto 220}${top cpu 3} \
    ${goto 290}${top mem 3} ${goto 360}${top time 3} ${goto 470}${top user 3}
${top name 4} ${goto 140}${top pid 4} ${goto 220}${top cpu 4} \
    ${goto 290}${top mem 4} ${goto 360}${top time 4} ${goto 470}${top user 4}
${top name 5} ${goto 140}${top pid 5} ${goto 220}${top cpu 5} \
    ${goto 290}${top mem 5} ${goto 360}${top time 5} ${goto 470}${top user 5}
${top name 6} ${goto 140}${top pid 6} ${goto 220}${top cpu 6} \
    ${goto 290}${top mem 6} ${goto 360}${top time 6} ${goto 470}${top user 6}
${top name 7} ${goto 140}${top pid 7} ${goto 220}${top cpu 7} \
    ${goto 290}${top mem 7} ${goto 360}${top time 7} ${goto 470}${top user 7}
${top name 8} ${goto 140}${top pid 8} ${goto 220}${top cpu 8} \
    ${goto 290}${top mem 8} ${goto 360}${top time 8} ${goto 470}${top user 8}
${top name 9} ${goto 140}${top pid 9} ${goto 220}${top cpu 9} \
    ${goto 290}${top mem 9} ${goto 360}${top time 9} ${goto 470}${top user 9}
${top name 10} ${goto 140}${top pid 10} ${goto 220}${top cpu 10} \
    ${goto 290}${top mem 10} ${goto 360}${top time 10} ${goto 470}${top user 10}
]]

conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/sthinds/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
