config = {
    gap_x = 1136,
    gap_y = 40,
    minimum_height = 5,
}

conky.text = [[
${color #eeeeee}$nodename	${alignr}${utime}
OS: $sysname   	${alignr}Uptime: $uptime
Kernel: $kernel
Architecture: $machine 
]]

conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/sthinds/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
