# cache
.cache/*
!.cache/.keep

# log
.log

# build
configs/build/*
!configs/build/README.md

# ignore any contents within local directory
configs/local/*
!configs/local/.keep
utils/local/*
!utils/local/.keep
!utils/local/sh
utils/local/sh/*
!utils/local/sh/.keep

# ranger sensitive files
configs/shared/ranger/history
configs/shared/ranger/bookmarks
