# ignore config file
config.json

# ignore any contents within local directory
local/configs/*
!local/configs/sh
local/configs/sh/*
local/utils/*
!local/utils/sh
local/utils/sh/*

shared/configs/ranger/history
shared/configs/ranger/bookmarks
