# cache
.cache/*
!.cache/.keep

# log
.log

# build
build/*
!build/.keep

# ignore any contents within local directory
configs/local/*
!configs/local/.keep
utils/local/*
!utils/local/.keep
!utils/local/sh
utils/local/sh/*
!utils/local/sh/.keep

# sensitive ranger files
configs/shared/ranger/history
configs/shared/ranger/bookmarks
