config = {
    gap_x = 1136,
    gap_y = 720,
    minimum_height = 5,
}

conky.text = [[
${color #A4F4F4}\
${goto 300}DISC
File systems:
 / ${fs_used /}/${fs_size /} ${fs_bar 6,100 /}        Temperature: ${hddtemp}°C
${diskiograph}
]]
 
conf_dir = os.getenv("HOME") .. '/Projects/.workflow/utils/shared/conky/'
dofile('/home/sthinds/Projects/.workflow/utils/shared/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
