config = {
    gap_x = 1136,
    gap_y = 400,
    minimum_height = 5,
}

conky.text = [[
${color #ee9999}\
${goto 260}GPU
${execi 20 radeontop -d- -l1 | grep -v Dumping | tr ',' ' ' | awk '{print "VRAM: " $26 "\t(" $25 ")" "\nUsage: " $3 }'}
${execigraph 5 "radeontop -d- -l1 | grep -v Dumping | tr ',' ' ' | awk '{print $3}' | sed 's/%//'"}
]]
 
conf_dir = os.getenv("HOME") .. '/Projects/.workflow/utils/shared/conky/'
dofile('/home/sthinds/Projects/.workflow/utils/shared/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
