config = {
    gap_x = 20,
    gap_y = 40,
    minimum_height = 5,
    minimum_width = 570,
    maximum_width = 470
}

conky.text = [[
${color #756d38}\
${font Mono:size=24:bold}CPU ${font Mono:size=12:bold}\
${alignr} ${execi 3600 lscpu | grep "Model name" | awk '{print $3, $4, $5, $7, $8}'}
${color #4f4f4f}${font Mono:size=12}\
Frequency: ${freq_g}GHz${alignr}
Temperature: ${acpitemp}°C ${goto 170} \
${color #756d38}\
${goto 220} ${execigraph 5 "sensors | grep 'Core 0' | awk '{print $3}' | cut -b2,3" 20,220 4f4f4f 756d38}
${color #4f4f4f}\
Usage: $cpu% ${goto 100}
${color #756d38}\
1 ${goto 30}${cpugraph cpu0 16, 180 4f4f4f 756d38} ${goto 240}7 ${goto 270}${cpugraph cpu6 16, 180 4f4f4f 756d38}
2 ${goto 30}${cpugraph cpu1 16, 180 4f4f4f 756d38} ${goto 240}8 ${goto 270}${cpugraph cpu7 16, 180 4f4f4f 756d38}
3 ${goto 30}${cpugraph cpu2 16, 180 4f4f4f 756d38} ${goto 240}9 ${goto 270}${cpugraph cpu8 16, 180 4f4f4f 756d38}  
4 ${goto 30}${cpugraph cpu3 16, 180 4f4f4f 756d38} ${goto 240}10 ${goto 270}${cpugraph cpu9 16, 180 4f4f4f 756d38}   
5 ${goto 30}${cpugraph cpu4 16, 180 4f4f4f 756d38} ${goto 240}11 ${goto 270}${cpugraph cpu10 16, 180 4f4f4f 756d38}   
6 ${goto 30}${cpugraph cpu5 16, 180 4f4f4f 756d38} ${goto 240}12 ${goto 270}${cpugraph cpu11 16, 180 4f4f4f 756d38}   
${font Mono:size=16:bold}${color #4f4f4f}\
Processes ${font Mono:size=12:bold} ${alignr}$processes ($running_processes active)
${alignr}Threads: ${threads} (${running_threads} active)
Name ${goto 120}PID ${goto 160}CPU% ${goto 210}MEM% ${goto 256} Time${goto 340}User
${font Mono:size=8:bold}\
${top name 1} ${goto 120}${top pid 1} ${goto 160}${top cpu 1} \
    ${goto 210}${top mem 1} ${goto 256}${top time 1} ${goto 340}${top user 1}                           
${top name 2} ${goto 120}${top pid 2} ${goto 160}${top cpu 2} \
    ${goto 210}${top mem 2} ${goto 256}${top time 2} ${goto 340}${top user 2}
${top name 3} ${goto 120}${top pid 3} ${goto 160}${top cpu 3} \
    ${goto 210}${top mem 3} ${goto 256}${top time 3} ${goto 340}${top user 3}
${font Mono:size=8}\
${top name 4} ${goto 120}${top pid 4} ${goto 160}${top cpu 4} \
    ${goto 210}${top mem 4} ${goto 256}${top time 4} ${goto 340}${top user 4}
${top name 5} ${goto 120}${top pid 5} ${goto 160}${top cpu 5} \
    ${goto 210}${top mem 5} ${goto 256}${top time 5} ${goto 340}${top user 5}
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/<USER>/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
