config = {
    gap_x = 20,
    gap_y = 422,
    minimum_height = 5,
    minimum_width = 450,
    maximum_width = 470
}

conky.text = [[
${color #b36060}\
${font Mono:size=24:bold}GPU ${font Mono:size=12:bold}\
${alignr}${execi 3600 xrandr --listproviders | grep NVIDIA | awk -F "name:" '{print $2}' | awk -F "@" '{print $1}'}
${color #4f4f4f}${font Mono:size=12}\
VRAM ${execi 20 nvidia-settings --load-config-only -query UsedDedicatedGPUMemory | grep "Attribute" | cut -c 57-}MB\
${color #b36060}\
GPU Utilization: ${if_existing /sys/class/hwmon/hwmon1/temp1_input}${color3}${exec nvidia-smi --query-gpu=utilization.gpu --format=csv,noheader,nounits}
Power Consumption: ${if_existing /sys/class/hwmon/hwmon1/power1_average}${color2}${exec nvidia-smi --query-gpu=power.draw --format=csv,noheader,nounits}
${goto 210}${execigraph 5 nvidia-settings --load-config-only -query UsedDedicatedGPUMemory | grep "Attribute" | cut -c 57- 4f4f4f b36060}
${color #4f4f4f}\
Temperature: ${execi 5 nvidia-settings --load-config-only -query GPUCoreTemp | grep "Attribute"| head -1 | cut -c 42-}°C\
${color #b36060}\
${goto 300}${execigraph 5 nvidia-settings --load-config-only -query GPUCoreTemp | grep "Attribute"| head -1 | cut -c 42- 24,160 4f4f4f b36060}
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/<USER>/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)

 