config = {
    gap_x = 20,
    gap_y = 422,
    minimum_height = 5,
    minimum_width = 470,
    maximum_width = 470
}

conky.text = [[
${color #b36060}\
${font Mono:size=24:bold}GPU ${font Mono:size=12:bold}\
${alignr}AMD Cedar ${execi 3600 xrandr --listproviders | grep pci | awk -F "name:" '{print $2}' | awk -F "@" '{print $1}'}
${color #4f4f4f}${font Mono:size=12}\
${execi 20 radeontop -d- -l1 | grep -v Dumping | tr ',' ' ' | awk '{print "VRAM: " $28 "\t(" $27 ")" "\nUsage: " $5 }'}\
${color #b36060}\
${goto 210}${execigraph 5 "radeontop -d- -l1 | grep -v Dumping | tr ',' ' ' | awk '{print $5}' | sed 's/%//'" 24,250 4f4f4f b36060}
${color #4f4f4f}\
Temperature: ${execi 5 sensors | grep 'temp1' | awk '{print $2}' | tr "\n" " "}\
${color #b36060}\
${goto 300}${execigraph 5 "sensors | grep 'temp1' | awk '{print $2}' | cut -b2,3" 24,160 4f4f4f b36060}
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/sthinds/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
