config = {
    gap_x = 20,
    gap_y = 584,
    minimum_height = 5,
    minimum_width = 470,
    maximum_width = 470
}

conky.text = [[
${color #ae30b3}\
${font Mono:size=24:bold}Memory ${font Mono:size=12}
${color #4f4f4f}\
RAM Usage:${goto 110} $mem/$memmax ($memperc%)${goto 330} \
${color #ae30b3}\
${membar 4,130 4f4f4f ae30b3}
${color #4f4f4f}\
Swap Usage:${goto 110} $swap/$swapmax ($swapperc%)${goto 330} \
${color #ae30b3}\
${swapbar 4,130 4f4f4f ae30b3}	
${goto 20}${memgraph 56,440 4f4f4f ae30b3}
${font Mono:size=16:bold}${color #4f4f4f}\
Processes ${font Mono:size=12:bold}
Name ${goto 80}PID ${goto 130}CPU% ${goto 180}MEM% ${goto 220} ${font Mono:size=9:bold}(Reserved) ${goto 300} (Virtual) ${goto 370}${font Mono:size=12:bold} Time${goto 430}User
${font Mono:size=8:bold}\
${top_mem name 1} ${goto 80}${top_mem pid 1} ${goto 130}${top_mem cpu 1} \
    ${goto 180}${top_mem mem 1} ${goto 240} ${top_mem mem_res 1} \
    ${goto 310} ${top_mem mem_vsize 1} ${goto 370}${top_mem time 1} \
    ${goto 430}${top_mem user 1}
${top_mem name 2} ${goto 80}${top_mem pid 2} ${goto 130}${top_mem cpu 2} \
    ${goto 180}${top_mem mem 2} ${goto 240} ${top_mem mem_res 2} \
    ${goto 310} ${top_mem mem_vsize 2} ${goto 370}${top_mem time 2} \
    ${goto 430}${top_mem user 2}
${top_mem name 3} ${goto 80}${top_mem pid 3} ${goto 130}${top_mem cpu 3} \
    ${goto 180}${top_mem mem 3} ${goto 240} ${top_mem mem_res 3} \
    ${goto 310} ${top_mem mem_vsize 3} ${goto 370}${top_mem time 3} \
    ${goto 430}${top_mem user 3}
${font Mono:size=8}\
${top_mem name 4} ${goto 80}${top_mem pid 4} ${goto 130}${top_mem cpu 4} \
    ${goto 180}${top_mem mem 4} ${goto 240} ${top_mem mem_res 4} \
    ${goto 310} ${top_mem mem_vsize 4} ${goto 370}${top_mem time 4} \
    ${goto 430}${top_mem user 4}
${top_mem name 5} ${goto 80}${top_mem pid 5} ${goto 130}${top_mem cpu 5} \
    ${goto 180}${top_mem mem 5} ${goto 240} ${top_mem mem_res 5} \
    ${goto 310} ${top_mem mem_vsize 5} ${goto 370}${top_mem time 5} \
    ${goto 430}${top_mem user 5}
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/<USER>/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
