config = {
    gap_x = 1450,
    gap_y = 430,
    minimum_height = 5,
    minimum_width = 450,
    maximum_width = 450,
}

conky.text = [[
${color #9775bf}\
${font Mono:size=24:bold}Network ${font Mono:size=12:bold}
connectivity: ${execi 60 nmcli general status | tail -1 | sed 's/(//g' | awk '{print $2}'}, WiFi: ${execi 60 nmcli general status | tail -1 | awk '{print $4}'}
${color #4f4f4f} ${font Mono:size=12}\
${addrs wlan0} (wlan0) ${alignr}${addrs eth0} (eth0)
Up:${upspeed wlan0}                       ${goto 250}Up:${upspeed eth0}
${color #9775bf}\
${upspeedgraph wlan0 30,212 4f4f4f 9775bf -l}${alignr}${upspeedgraph eth0 30,212 4f4f4f 9775bf -l}
${color #4f4f4f}\
Down:${downspeed wlan0}                   ${goto 250}Down:${downspeed eth0}
${color #9775bf}\
${downspeedgraph wlan0 30,212 4f4f4f 9775bf}${alignr}${downspeedgraph eth0 30,212 4f4f4f 9775bf}
${font Mono:size=16:bold}${color #4f4f4f}\
Devices
${font Mono:size=8}\
${execi 900 /home/<USER>/.config/conky/sh/map_network.sh readFile} 
${font Mono:size=16:bold}${color #4f4f4f}\
Connections ${font Mono:size=10:bold}\
Inbound: ${tcp_portmon 1 32767 count}   \
Outbound: ${tcp_portmon 32768 61000 count}  \
Total: ${tcp_portmon 1 65535 count}
Process Protocol Local Addr  Remote Addr    Status
${font Mono:size=8}\
${texeci 10 /home/<USER>/.config/conky/sh/connections.sh}
]]
 
conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/<USER>/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config, config_local)
