config = {
    gap_x = -1030,
    gap_y = 46,
    minimum_height = 5,
    minimum_width = 900,
    maximum_width = 900,
    background_color = '323232'
}


conky.text = [[
${font Monospace:size=9}\

${font Mono:size=18:bold}cronjob.log ${font Monospace:size=9}
${exec tail -n 5 /home/<USER>/.cache/.workflow/cronjob.log}${color}
${font Mono:size=18:bold}journalctl${font Monospace:size=9}
${exec journalctl -n 10 --no-pager}${color}
${font Mono:size=18:bold}Docker${font Monospace:size=9}
${exec docker ps}${color}
${hr}
]]

conf_dir = os.getenv("HOME") .. '/.config/conky/'
dofile('/home/<USER>/.config/conky/config_master.lua')
config_local = cnf()
conky.config = mergeFn(config_local, config)
 